* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif;
}

body {
  background: #2d2c41;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* to align items from the start */
  min-height: 100vh;
  padding: 20px; /* Added padding for overall spacing */
}

h1 {
  font-size: 90px;
  text-align: center;
  margin-bottom: 30px; /* Increased vertical spacing */
}

.todo-form {
  display: flex;
  align-items: center;
  margin-bottom: 50px; /* Increased vertical spacing */
}

.todo-input, .todo-button {
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
}

.todo-input {
  width: 400px;
  background: #3e3d52;
  color: #fff;
  margin-right: 10px;
}

.todo-input::placeholder {
  color: #b3b3b3;
}

.todo-input:focus {
  background: #47465a;
}

.todo-button {
  background: #564f80;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
}

.todo-button:hover {
  background: #4d4772;
}

.todo-container {
  width: 100%;
  text-align: center;
}

.todo-row {
  background: #1b1a31; /* Dark blue background for all tasks */
  margin: 12px 0;
  padding: 16px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 4px solid #d35400; /* Dark orange left border */
}

.icons {
  margin-left: 10px;
  font-size: 24px;
}

.delete-icon:hover, .edit-icon:hover {
  color: #e0e0e0;
}

.loading-bar-container {
  width: 100%;
  background-color: #ddd;
  height: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.loading-bar {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
}

.completeTaskButton {
  background-color: #d35400;
  border-width: 0;
  
  padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    cursor: pointer;
    outline: none;

    transition: background-color 0.5s, transform 0.5s;
}

.completeTaskButton:hover {
  background-color: #32a852;
  transform: scale(1.15);
}

.completeTaskButton:hover ~ .todo-row {
  border-left-color: #32a852; /* Green color */
  transition: border-left-color 1s;
}